body {
    background: url(/bg-pattern-top.svg) -300px -600px no-repeat, url(./bg-pattern-bottom.svg) 900px 300px no-repeat;
    background-color: #127481;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 400px;

    background-color: whitesmoke;
    text-align: center;
    border: 8px;
    margin-top: 150px;
    overflow: hidden;
    border-radius: 25px;
    font-family: 'Kumbh Sans', sans-serif;
}

.top-pic {
    width: 100%;
}

.pic {
    margin-top: -80px;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
}

p {
    font-weight: 700;
    font-size: 18px;
}

.location {
    font-weight: 400;
    font-size: 18px;
}

span {
    font-weight: 400;
    font-size: 11px;
    font-size-adjust: 0.58;
}

.card-header {
    padding: 30px;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
}

.card-footer {
    background: whitesmoke;
    padding: 30px;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
}

 hr {
     width: 100%;
     border-top: 3px solid #bbb;
 }

.numbers {
    display: flex;
    align-items: center;
    padding: 50px;
    margin-top: -50px;

}

.item {
    flex: 2;
    font-size: 18px;
}

.item span {
    display: block;
}